<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <h1>Send a comment</h1>
    <form action="/api/comment" method="POST" id="comment-form">
      <label for="name">Name</label>
      <input type="text" name="name" required />
      <label for="email">Email</label>
      <input type="email" name="email" required />
      <label for="home_page">Home page</label>
      <input type="text" name="home_page" />
      <label for="text">Comment</label>
      <input type="text" name="text" required />
      <div class="g-recaptcha" data-sitekey="<%=key%>"></div>
      <br />

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
