<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Send a comment</h1>
    <form action="/comment" method="POST" id="comment-form">
      <label for="name">Name</label>
      <input type="text" name="name" required />
      <label for="email">Email</label>
      <input type="email" name="email" required />
      <label for="home_page">Home page</label>
      <input type="text" name="home_page" />
      <label for="text">Comment</label>
      <input type="text" name="text" />
    </form>
  </body>
</html>
